<div class="survey">
  Please answer truly:
  <div class="questions">
    <div class="question">
      <div class="title">{{title}}</div>
      <div class="subtitle"></div>
      {{#each answers}}
        <div class="answer">{{text}}</div>
      {{/each}}
    </div>
  </div>
</div>
