<h1>{{title}}</h1>
{{#if users}}
<ul>
    {{#each users}}
        <li>
            <a href='/users/{{id}}'>
              {{username}}
            </a>
            <a href='/users/{{id}}/destroy'>(Borrar)</a>
            <br>
        </li>
    {{/each}}
</ul>
{{/if}}
