<h1>Create new choice:</h1>
<form action="/choices/create" method='post'>
  <input type="hidden" name="question_id" value="{{question_id}}"><br>
  <input type="text" name="text" placeholder="Text" value="Choice Text"><br>
  <button type="submit">Save</button>
</form>
<br><br>
<ul>
    {{#each choices }}
        <li>
            {{text}}
            <a href='/choices/{{id}}/destroy'>(Delete)</a><br>
        </li>
    {{/each}}
</ul>
