<h1>All the Questions:</h1>

<form action="/questions/create" method='post'>

  <input type="text" name="title" placeholder="Title" value="Title"><br>
  <input type="text" name="content" placeholder="Content" value="Content"><br><br>
  <button type="submit">Create</button>

</form>
<br><br>
<ul>
    {{#each questions }}
        <li>
            <a href='/question/{{id}}'>{{title}}</a>
            <a href='/question/{{id}}/destroy'>(Delete)</a><br>
        </li>
    {{/each}}
</ul>
