<h4>Create a new choice:</h4>

<form action="/choices/create" method='post' class="sm-col-6 border">

  <input type="hidden" name="question_id" value="{{question_id}}">

  <label for="text">Text</label>
  <input type="text" class="block col-12 mb1 field" name="text" placeholder="Text">

  <button type="submit" class="btn btn-primary">Create</button>
</form>

<br>
<h4>Choices:</h4>
<div>
  <table class="table-light border">
    <thead>
    <tr>
      <th>Text</th> <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each choices }}
      <tr>
        <td>{{text}}</td>
        <td><a href='/choices/{{id}}/destroy' class="btn btn-primary">Delete</a></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
