body { margin: 0 }
img { max-width: 100% }
svg { max-height: 100% }

body {
  padding: 20px 50px 20px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  padding: 20px;
}

.choices {
  margin-bottom: 40px;
  margin-right: 20px;

}

.table-light tr td {
  vertical-align: middle;
}
.table-light tr td:last-child {
  text-align: right;
}
